.form-label {
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 18px;
    text-align: left;
    width: 100%;
}

.form-control,
.form-select,
textarea {
    font-size: 1.6em !important;
    padding: 6px 10px !important;
    box-sizing: border-box;
    border: 1.5px solid var(--primaryColor2) !important;
    margin-bottom: 18px !important;
    width: 100%;
}

.form-select option {
    font-size: .9em !important;
    padding: 10px !important;
}

textarea {
    min-height: 100px;
}

textarea:focus-visible {
    outline: none;
}

.form-cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 24px 0 0 0;
}

.form-submit-button {
    font-size: 1.6em;
    font-weight: 700;
    padding: 16px 48px;
    border: none;
    background-color: var(--primaryColor2);
    color: var(--white);
    border-radius: 10px;
}

.form-draft-button {
    font-size: 1.6em;
    font-weight: 700;
    padding: 16px 48px;
    border: none;
    background-color: var(--gray4);
    color: var(--white);
    border-radius: 10px;
}

.draft-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.draft-card {
    background-color: var(--gray4);
    width: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}

.draft-card span {
    font-size: 1.5em;
}

.draft-card .use {
    padding: 0 5px;
    border: none;
    font-size: 1.5em;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--primaryColor2);
}

.draft-card .delete {
    padding: 0 5px;
    border: none;
    font-size: 1.5em;
    border-radius: 5px;
    color: var(--white);
    background-color: var(--stateColorError);
}

.form-cancel-button {
    font-size: 1.6em;
    font-weight: 700;
    padding: 14px 48px;
    border: 3px solid var(--gray4);
    background-color: var(--white);
    color: var(--gray4);
    border-radius: 10px;
    box-sizing: border-box;
}

.form-image {
    border: 2px solid var(--gray4);
    border-radius: 8px;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    gap: 16px;
    margin-bottom: 18px;
}

.non-image-display-card {
    width: 100%;
    min-height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border: 2px dashed var(--gray4);
}

.non-image-display-card span {
    font-size: 1.5em;
}

.non-image-display-card .text-browse {
    color: var(--primaryColor2);
    font-weight: 700;
}

.image-display-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid var(--gray4);
}

.image-display-card span {
    min-width: 85%;
    max-width: 90%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    color: var(--primaryColor2);
    font-weight: 600;
    font-size: 1.5em;
    padding: 10px 20px;
}

.image-display-card button {
    border: none;
    background-color: transparent;
}

.form-image-btn {
    font-size: 1.6em;
    width: 100%;
    padding: 16px 0;
    color: var(--white);
    background-color: var(--gray4);
    border: 2px solid var(--gray4);
    border-radius: 10px;
    transition: .3s;
    font-weight: 700;
}

.form-image-btn:hover {
    color: var(--gray4);
    background-color: var(--white);
}

.text-org {
    margin: 0;
    color: var(--primaryColor2)
}

.label-cta {
    display: flex;
    align-items: flex-end;
    margin-bottom: 14px;
}

.label-cta-btn {
    font-size: 1.8em;
    background-color: var(--primaryColor2);
    width: 40px;
    height: 40px;
    border: 2px solid var(--primaryColor2);
    box-sizing: border-box;
    color: var(--white);
    border-radius: 12px;
    transition: .3s;
    font-size: 2em;
    font-weight: bold;
    ;
}

.label-cta-btn:hover {
    background-color: transparent;
    color: var(--primaryColor2)
}

.modal-content {
    border-top-left-radius: 18px !important;
    border-top-right-radius: 18px !important;
}

.modal-body {
    padding: 14px 24px 24px 24px !important;
    width: 100% !important;
}

.modal-header {
    color: var(--white);
    background-color: var(--primaryColor);
    width: 100%;
    height: 100%;
    padding: 24px !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.display-list-bubble {
    display: flex;
    padding: 10px 0;
    gap: 10px;
}

.bubble-item {
    background-color: var(--primaryColor2);
    padding: 5px 10px 5px 15px;
    display: flex;
    font-size: 1.4em;
    align-items: center;
    gap: 10px;
    color: var(--white);
    border-radius: 8px;
}

.bubble-item button {
    border: none;
    font-weight: 700;
    color: var(--white);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: transparent;
}

.ck-editor {
    margin-bottom: 20px !important;
}

.ck-content {
    min-height: 100px !important;
}

.corner-cta {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.invisable-form {
    background-color: transparent;
    width: 100%;
    border: none;
}

.invisable-form:focus-visible {
    outline: none;
}

.filter-header {
    border: 1px solid var(--primaryColor2);
    padding: 10px 20px;
}

.filter-header-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-header div span {
    font-size: 1.5em;
}

.filter-body {
    border: 1px solid var(--primaryColor2);
    padding: 10px;
    height: 0;
    opacity: 0;
    border-top: none;
    transition: .2s;
}

.showed {
    height: fit-content;
    opacity: 1;
}

.filter-body ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.filter-body ul li {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 1.4em !important;
    align-items: center;
}

.filter-body ul li button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor2);
    width: 25px;
    height: 25px;
    color: white;
    font-size: 1em;
    border-radius: 5px;
}

.filter-item-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.filter-item {
    background-color: var(--primaryColor2);
    color: var(--white);
    padding: 5px 15px;
    font-size: 1em;
    display: flex;
    gap: 10px;
    align-items: space-between;
    justify-content: center;
    border-radius: 3px;
}

.filter-item button {
    background-color: transparent;
    color: var(--white) !important;
    font-size: .9em !important;
    border: none;
    display: flex;
    align-items: center;
}

.form-check {
    display: flex !important;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px !important;
}

.form-check-input {
    margin-top: 0 !important;
    width: 18px !important;
    height: 18px !important;
}

.form-check-input:checked {
    background-color: var(--primaryColor2) !important;
    border-color: var(--primaryColor2) !important;
}

.form-check-label {
    font-size: 1.4em !important;
}

.kategori-dynamic-form button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor2);
    width: 25px;
    height: 25px;
    color: white;
    font-size: 1.5em;
    border-radius: 5px !important;
}

.kategori-dynamic-form input {
    margin-left: 10px !important;
    font-size: 1.5em !important;
    border: none !important;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-size: 1em;
    border-bottom: 1px solid var(--gray4) !important;
}

.kategori-dynamic-form input:focus {
    box-shadow: none;
}

.required {
    color: var(--primaryColor2);
    font-size: 1em;
}