.home-link-card {
    border: 3px solid cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    border-radius: 10px;
    transition: all .2s;
}

.home-link-card:hover {
    background-color: cornflowerblue;
    color: white;
    transform: scale(1.1);
}