.home-content {
    align-items: center;
    justify-content: center;
}

.home-link-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    min-width: 90%;
    flex-wrap: wrap;
    gap: 10px;
}