@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

#root {
    display: flex;
}

a {
    text-decoration: none !important;
    color: black
}

a:active {
    color: black
}

main {
    position: relative;
    box-sizing: border-box;
    width: 80vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.container-cta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.delete-btn {
    border: 2px solid cornflowerblue;
    padding: 5px 10px;
    font-size: .8em;
    border-radius: 15px;
    color: cornflowerblue;
}

.edit-btn {
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
    padding: 5px 10px;
    font-size: .8em;
    color: white;
    border-radius: 15px;
}

.display-card-form-cta {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}

.card-form-cta {
    float: right;
    position: absolute;
    right: 2%;
    top: 30%;
}